{%extends "LoginLoginBundle:Default:index.html.twig"%}
{%block container %}
    <div class="container" data-validate='parsley'>
        
        <form id='form' class='well' method='POST' action="{{path('login_login_signup')}}">
            <h2 class="form-signin-heading">Sign Up</h2>
            <label>Firstname</label>
            <input type='text' class='input-xlarge' name='firstname' data-trigger='change' data-required='true'/>            
            <label>Username</label>
            <input type='text' class='input-xlarge' name='username' data-trigger='change' data-required='true'/>
            <label>Password</label>   
            <input type='password' id='password' class='input-xlarge' name='password' data-trigger='change' data-required='true'/>
            <label>Confirm Password</label>   
            <input type='password' id='confirmPassword' class='input-xlarge' name='confirmPassword' data-trigger='change' data-required='true' data-equalto='#password'/>
            <label>Email</label>   
            <input type='email' class='input-xlarge' name='email' data-trigger='change' data-required='true' data-type='email'/>
            <label>Comments</label>
            <textarea type='textarea' class='input-xlarge' name='comments' ></textarea>                        
            <div>
            <button type='submit' class='btn btn-primary' type='submit'>Create Account</button>
            </div>
        </form>
    </div>
        
<script>
    $(function(){
        $('#confirmPassword').blur(function(){
            var passValue = $('#password').val();
            var confirmValue = $('#confirmPassword').val();
            
            if(passValue !== confirmValue) {
                $(this).css({'color':'red'});
            } else {
                $(this).css({'color':'green'});
            }
            
        });
    });
</script>
{%endblock%}
